// colors
$color-primary: #47596d;
$color-secondary: #fff;
$color-line: #0ecafc;
$color-footer-line: #ff5050;

$bg-dark: #000;
$color-dark-blue: #0a3769;

// font path
$path-font: '../fonts';

// Breakpoints
$sm: '560px';
$md: '768px';
$lg: '992px';
$xlg: '1200px';
