/* ------ header -------- */
.header {
    padding: 20px 0;
    margin-bottom: 7rem;

    & .nav-div {
        display: none;
        @include mq('large') {
            display: block;
        }
    }

    &__navigation {

        & li {
            margin-left: 1.9rem;
            margin-bottom: 5px;
            height: 25px;
            font-size: 14px;
            text-transform: uppercase;
            @include mq('medium') {
                display: inline-block;
            }

            & a {
                position: relative;
            }

            & a::before {
                content: ' ';
                position: absolute;
                bottom: -10%;
                left: 50%;
                width: 0;
                border-bottom: 2px solid $color-line;
                transition: .4s ease-in; 
            }

            & a:hover::before {
                width: 100%;
                left: 0;
                right: 0;
            }

            & a {
                display: block;
            }
        }
    } 

    & .container-fluid {
        height: 37rem;
        background: url('../images/header-bg.png') no-repeat center/cover, 
                    $bg-dark;
        color: $color-secondary; 
    }

    & .height-reg {
        height: 100%;
    }

    .vert-cent {
        @include vertical-center();
    }

    &__h1 {   

        @include lines($height: 6px,
            $width: 8rem,
            $bg-color: $color-line,
            $brdr-rad: 0.8rem); 

        & span {
            display: block;
            font-size: 2.2rem;   

            &:first-child {
                font-size: 4.8rem;
            }

            &:last-child {
                font-family: 'Proxima Nova';
                font-weight: normal;
            } 
        }
    }           

    &__contact {
        display: inline-block;
        padding: 1.5rem 2.5rem;
        margin-top: 2.5rem;
        border-radius: 10px;
        color: $color-secondary;
        background-color: #0a3769;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: bold;
        border-width: 0;

        &:hover {
            background-color: $color-primary;
        }
    }
}